@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    /* colors */
    --text-color: #191919;
    --accent-color: #00bafc;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: var(--text-color);
}
.container {
    max-width: 1150px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
}
.site-header {
    box-shadow: 0px 4px 20px rgba(0, 0 , 0, 0.1);
}
.site-header__container {
    display: flex;
    align-items: center;
}
.logo:hover {
    opacity: 0.8;
}
.logo:active {
    opacity: 0.4;
}

.site-header__logo {
    margin-right: auto;
}
.site-header__phone {
    margin-left: 8px;
}
.logo__img {
  display: block;  
}
/* site-nav */
.site-nav__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.site-nav__link {
    display: block;
    padding: 16px;
    color: var(--text-color);
    text-decoration: none;
    transition: box-shadow 0.3s ease ;
}
.site-nav__link:hover,
.site-nav__item--active .site-nav__link {
    box-shadow: inset 0 -3px 0 0 var(--text-color);
}
.site-nav__link:active {
    background-color: rgba(25, 25, 25, 0.7);
    box-shadow: none;
    color: #fff;
}
.site-nav__item ul {
    display: none;
}
.dropdown-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.dropdown-menu a {
    text-decoration: none;
}
