@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --button-light-blue: #00BAFC;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1440px;
    padding: 0px 70px;
}
.top-header {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.nav-header {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    padding: 28px 0px;
    background: #FFFFFF;
   
}
.nav-list {
    display: flex;
}
.nav-list__item {
    list-style-type: none;
}
.nav-list__item:not(:first-child) {
    margin-left: 32px;
}
.nav-list__link {
    text-decoration: none;
    color: #000;
}
.btn {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: var(--button-light-blue);
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #fff;
    text-align: center;
    
}
.btn:hover {
    
}
/* MAIN */
.next-level {
    margin-top: 80px;
}
.next-level-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bio-text {
    width: 470px;
    margin-right: 50px;
}
.next-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 16px;
    
}
.next-info {
    margin-bottom: 24px;
} 
/* SERIVCES SECTION */
.services {
    padding: 56px 100px;
  }
.main-title{
    text-align: center;
    margin-top: 50px;
}
.main-title__item {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 16px;
}
.main-title p {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    
}
.services-cards-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}
.services-cards-bottom{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-card {
    padding: 24px 58px;
    margin-right: 70px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.service-card:hover {
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.service-card:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.service-title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
}
.service-card p{
    text-align: center;
}
.services-links{
    margin-top: 47px;
    text-align: center;
}
.services-link{
    margin-left: 16px;
    color: #00BAFC;
}

/* HOW WE WORK SECTION */
.main-title {
    text-align: center;
}
.main-info {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 16px;
}
.advantages {
    display: flex;
    align-items: center;
    width: 832px;
    margin-left: auto;
    margin-right: auto;
}
.advantages-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
.left{
    justify-content: space-between;
}
.advantages:not(:last-child){
    margin-bottom: 48px;
}
.main-info {
    margin-bottom: 24px;
}
.work {
    text-align: left;
    margin-bottom: 8px;
}
.right img { 
    margin-right: 32px;
}
.left img {
    order: 1;
    margin-left: 32px;
}

